<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- в тег div будет добавлен фрагмент menu из файла fragments.htm,
    в фрагмент передаётся список жанров из контроллера -->
<div th:insert="~{fragments.html :: menu(${genres})}"></div>

<div th:if="${pictures !=null and !pictures.isEmpty()}" >
    <div th:each="picture : ${pictures}">
        <!-- Picture -> name -> getName() -->
        <h2 th:text="${picture.name}"></h2>
        <a th:href="@{/picture/{id}(id=${picture.id})}">Подробнее</a>
        <!-- <p data-picture-id="546"></p> -->
        <button th:attr="data-picture-id=${picture.id}" name="add-to-order" type="button">
            Добавить в заказ
        </button>
        <button th:attr="data-picture-id=${picture.id}"
                style="display: none"
                name="remove-from-order"
                type="button">
            Удалить из заказа
        </button>
    </div>

</div>

<div th:if="${pictures == null or pictures.isEmpty()}">
    <h2>Картины пока не нарисованы</h2>
</div>
<!-- тег div будет заменен на фрагмент menu из файла fragments.htm -->
<div th:replace="~{fragments.html :: footer}"></div>

<script th:src="@{/js/create-order.js}"></script>
</body>
</html>