<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- в тег div будет добавлен фрагмент menu из файла fragments.htm,
    в фрагмент передаётся список жанров из контроллера -->
<div th:insert="~{fragments.html :: menu(${genres})}"></div>

<div>
    <h2 th:text="${pictureInfo.name}"></h2>
    <p th:text="${pictureInfo.description}"></p>
    <p th:text="${pictureInfo.createdAt}"></p>
    <div>
        <img th:src="@{/images/{path}(path=${pictureInfo.imagePath})}">
    </div>
    <button th:attr="data-picture-id=${pictureInfo.id}" name="add-to-order" type="button">
        Добавить в заказ
    </button>
    <button th:attr="data-picture-id=${pictureInfo.id}"
            style="display: none"
            name="remove-from-order"
            type="button">
        Удалить из заказа
    </button>


    <!-- localstorage -->


    <!--<div sec:authorize="isAuthenticated()">
        <form name="comment">
            <span id="error"></span>
            <textarea name="text"></textarea>
            <input type="submit" value="Добавить комментарий">
        </form>
    </div>-->
</div>

<!-- тег div будет заменен на фрагмент footer из файла fragments.htm -->
<div th:replace="~{fragments.html :: footer}"></div>

<!--<script th:src="@{js/picture.js}"></script>-->
<script th:src="@{/js/create-order.js}"></script>
</body>
</html>