<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- в тег div будет добавлен фрагмент menu из файла fragments.htm,
    в фрагмент передаётся список жанров из контроллера -->
<div th:insert="~{fragments.html :: menu(${genres})}"></div>

<div>
    <h2 th:text="${pictureInfo.name}"></h2>
    <p th:text="${pictureInfo.description}"></p>
    <p th:text="${pictureInfo.createdAt}"></p>
    <div>
        <img th:src="@{/images/{path}(path=${pictureInfo.imagePath})}">
    </div>
</div>

<!-- тег div будет заменен на фрагмент footer из файла fragments.htm -->
<div th:replace="~{fragments.html :: footer}"></div>
</body>
</html>