<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments.html :: menu(${genres})}"></div>

<div th:if="${pictures !=null and !pictures.isEmpty()}" >
    <div th:each="picture : ${pictures}">
        <!-- Picture -> name -> getName() -->
        <h2 th:text="${picture.name}"></h2>
        <a th:href="@{/picture/{id}(id=${picture.id})}">Подробнее</a>
    </div>
</div>
<div th:if="${pictures == null or pictures.isEmpty()}">
    <h2>Картины пока не нарисованы</h2>
</div>

</body>
</html>